In [3]:
import zoo

zoo.hours()

Open 9-5 daily

In [4]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [10]:
import sqlite3 as sq

conn = sq.connect('books.db')

curs = conn.cursor()

curs.execute('''CREATE TABLE books (title TEXT, author TEXT, year INTEGER)''')

curs.execute('INSERT INTO books VALUES("Lord of the Rings", "JRR Tolkien", 1954)')

curs.execute('INSERT INTO books VALUES("Watchmen", "Allen Moore", 1986)')

curs.execute('SELECT * FROM books')

rows = curs.fetchall()

print(rows)


curs.execute('SELECT * FROM books ORDER BY title ASC')

OperationalError: database is locked